:local(.artitemdiv) {
    width: 100%;
}

:local(.artitemdiv:hover) {
    cursor: pointer;
}

:local(.artitemtitle) {
    font-size: 30px;
    font-weight: 100;
}

:local(.artitemicon) {
    width: 35px;
    height: 30px;
}

:local(.artitemdate) {
    color: gray;
    font-weight: 100;
    font-size: 20px;
    display: inline;
    line-height: 30px;
    position: absolute;
    margin-left: 5px;
}

:local(.artitemcontent) {
    color: gray;
    margin: 0 0 20px;
    line-height: 27px;
    font-size: 16px;
}
