.artitemdiv {
    width: 100%;
}

.artitemdiv:hover {
    cursor: pointer;
}

.artitemtitle {
    font-size: 30px;
    font-weight: 100;
}

.artitemicon {
    width: 35px;
    height: 30px;
}

.artitemdate {
    color: gray;
    font-weight: 100;
    font-size: 20px;
    display: inline;
    line-height: 30px;
    position: absolute;
    margin-left: 5px;
}

.artitemcontent {
    color: gray;
    margin: 0 0 20px;
    line-height: 27px;
    font-size: 16px;
}
