@import "~antd/dist/antd.css";

.logininputGroup {
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}


.loginBtn {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}


.loginInput {
    width: 300px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}


.loginSpinCommon {
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translateX(-50%) translateY(-50%);
}

.loginSpinDismiss {
    display: none !important;
}

/**
超链接
 */
.tipLinks {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    margin-top: 5px;
}

/*忘记密码*/
.forgetpsd {

}

/*注册**/
.gotoSignin {
    position: absolute;
    right: 0;
}
